.map-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

#searchFields {
    position: relative;
    top: 10px;
    left: 50px;
    display: flex;
}

.autocomplete {
    background-color: #fff;
}

.menu {
    position: absolute;
    top: 75px;
    left: 45px;
    z-index: 1;
    padding: 0;
}

.menu button {
    margin: 5px;
}

.maplibregl-legend-list {
    width: 200px;
    overflow-y: auto;
    max-height: calc(100vh * 0.7);
}

.maplibregl-legend-onlyRendered-label {
    display: none;
}

.maplibregl-legend-onlyRendered-checkbox {
    display: none;
}

.maplibregl-ctrl-group button {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 29px;
    outline: none;
    padding: 0;
    width: 29px;
}

.maplibregl-legend-title-label {
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
}

.maplibregl-legend-close-button {
    position: absolute;
    right: 0;
    top: 0;
}

.legend-table {
    border-collapse: collapse;
    margin: 0 auto;
}

.legend-table-td, th.legend-table-th {
    border: 1px solid #ffffff;
    margin: 10px;
    padding: 2px;
    text-align: left;
}

.legend-table g {
    stroke-width: 5px;
}
