/*
IMPORTANT! This CSS is will affect the parent page. Prefix everything with
`cycling-demo-` to make our IDs and classnames unlikely to interfere with the
parent page.
*/

body#cycling-demo-body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
}

main#cycling-demo-main {
  background-color: #fafafa;
  border-radius: 5px;
  width: min(100%, 750px);
  min-height: 700px;
  padding: 75px;
}

div.cycling-demo-container {
  margin-top: 20px;
}

div.cycling-demo-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

button.cycling-demo-load-widget {
  margin: 20px 0;
}

pre.cycling-demo-code {
  background-color: #eaeaea;
  border-radius: 5px;
  padding: 10px 20px;
  overflow-x: auto;
}
