/*
IMPORTANT! This CSS is will affect the parent page. Prefix everything with
`cycling-demo-` to make our IDs and classnames unlikely to interfere with the
parent page.
*/

body#cycling-demo-body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
}

main#cycling-demo-main {
  background-color: #fafafa;
  border-radius: 5px;
  display: grid;
  grid-template-rows: min-content auto;
  width: min(100%, 900px);
  min-height: 700px;
  padding: 75px;
  gap: 20px;
}

div.cycling-demo-container {
  /* nothing here yet */
}

h2.cycling-demo-heading {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
}

div.cycling-demo-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

label.cycling-demo-label {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 10px;
}

label.cycling-demo-label input {
  width: 70px;
}

button.cycling-demo-load-widget {
  margin-bottom: 20px;
}
